<h2><%= @user.name %> set your password:</h2>

<%= form_for(@user, :url => save_password_user_path(@user), :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.phone.blank? %>
    <div class="control-group">
      <%= f.label :phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :phone %>
        <span class="help-block">xxx-xxx-xxxx</span>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :password, 'New Password', :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
      <span class="help-block">At least 5 characters long please.</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, 'Confirm New Password', :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <%= hidden_field_tag :token, params[:token] %>
  <div class="form-actions">
    <%= f.submit 'Set Password', :class => 'btn btn-inverse' %>
  </div>
<% end %>