<div id="hero" class="chipboard">
  <a href="http://www.translifeline.org">
    <%= image_tag 'banner.png', :width => 520 %>
  </a>
  <div id="subhead-and-schedule">
    <h1><%= Rails.configuration.x.hotline.name %></h1>
    <div id="subhead">
      <p>Trans Lifeline is a non-profit dedicated to the well being of transgender people. We run a hotline staffed by transgender people for transgender people. Trans Lifeline volunteers are ready to respond to whatever support needs members of our community might have.</p>
      <p>This is a FREE helpline run by volunteers and supported by the community.</p>
      <p>
        Please see <a href="http://www.translifeline.org">http://www.translifeline.org</a> for more details.
      </p>
    </div>

    <%= render 'schedule' %>

    <% if Rails.configuration.x.twitter.screen_name %>
      <div style="padding:10px;"><p><a href="https://twitter.com/<%= Rails.configuration.x.twitter.screen_name %>" class="twitter-follow-button" data-show-count="false">Follow @<%= Rails.configuration.x.twitter.screen_name %></a><script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script></p></div>
    <% end %>
  </div>
</div>
