<div class="row">
  <div class="span6">
    <div class="faq">
      <h2 class="short">How it works</h4>
      <iframe width="520" height="390" src="http://www.youtube.com/embed/XmllSOZw-3k?showinfo=0&theme=light&rel=0&modestbranding=1&hd=1&controls=0&showsearch=0" frameborder="0" allowfullscreen></iframe>
      <p>
        When someone calls the hotline, <%= number_to_phone(Rails.configuration.x.hotline.number, :area_code => true) %>, we ring the phones of all volunteers who are on-call at that moment. 
        The first to pickup the phone is connected to the caller.
      </p>
    </div>

  </div>
  <div class="span5 offset1">
    <h2 class="short">What is this?</h2>
    <p>
      <%= Rails.configuration.x.hotline.name %> is a toll-free number answered by volunteer operators and supported by the community.
    </p>

    <p><%= link_to 'Vounteer to Answer Calls', 'http://apply.translifeline.org', :class => 'btn large red' %>
    
    </p>

    <p style="margin-bottom:30px;">See the <%= link_to pluralize(User.active.have_logged_in.length, 'volunteer'), volunteers_path %> who answer calls on the hotline.</p>

    <div class="faq">
      <h4 class="short">Will everybody see my phone number?</h4>
      <p>Nope. We route all the calls through the main hotline number.</p>
    </div>

    <div class="faq">
      <h4 class="short">What happens when I get a call?</h4>
      <p>The call will come from the hotline number, <%= number_to_phone(Rails.configuration.x.hotline.number, :area_code => true) %> and when you answer it you'll have the option to be connected to the caller by pressing 1 on your phone's keypad. If you do so you'll be directly connected to the caller.</p>
    </div>

    <div class="faq">
      <h4 class="short">What number do the calls come from?</h4>
      <p>All calls come from the hotline number, <%= number_to_phone(Rails.configuration.x.hotline.number, :area_code => true) %>.</p>
    </div>

    <div class="faq">
      <h4 class="short">What if I get a ton of calls?</h4>
      <p>Your phone will only ring when you choose to be available.</p>
      <p>Also remember that we're working together as a community to answer calls.</p>
      <p>(If you’d like to be taken off-call you can pickup an incoming hotline call and press 9, instead of 1, and we’ll take you off immediately.)</p>
    </div>

    <div class="faq">
      <h4 class="short">I’m only available a few hours a week</h4>
      <p>That’s great!</p>
      <p>You can setup a weekly schedule and then you’ll be automatically flipped on and off availability. We think you'll get a lot out of helping people, even if it's only 1 hour a week.</p>
    </div>

    <%#
    <div class="faq">   
      <h4 class="short">I don’t have time to answer calls, but I’d still like to help out</h4>
      <p> Add support stuff here.</p>
    </div>
    %>

  </div>
</div>